In [ ]:
###Pandas Lab (First Lab)

In [1]:
###Creating a Series
import pandas as pd 
data=[1,2,3,4,5]
v=pd.Series(data)
print(data)
print(v)

[1, 2, 3, 4, 5]
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
### Creating a DataFram
data={
    'Name':['John','Anna','Peter','Linda'],
    'Age':[25,30,28,22],
    'City':['New York','Paris','London','Tokyo']
}
df=pd.DataFrame(data)
print(data)
print(df)

{'Name': ['John', 'Anna', 'Peter', 'Linda'], 'Age': [25, 30, 28, 22], 'City': ['New York', 'Paris', 'London', 'Tokyo']}
    Name  Age      City
0   John   25  New York
1   Anna   30     Paris
2  Peter   28    London
3  Linda   22     Tokyo

In [3]:
### Reading Data from Files

df=pd.read_csv('transactions.csv') #read csv file
print("Head Method ")
print(df.head(4)) # this is head method used for getting no of data from the top

print("\nTail Method ")
print(df.tail(4)) # this is tail method used for getting

print("\n info() Method ")
print(df.info()) # this is info method

print("\n describe() Method ")

print(df.describe()) # Summarizes data with metrics like mean, count, min, max, etc.


#print(df)

Head Method
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3

Tail Method
   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

 info() Method
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

 describe() Method
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [4]:
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [5]:
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [6]:
filterded_data=df[df['Quantity']>5]
print(filterded_data)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [7]:
### Rename columns 
df.rename(columns={'UserID':'uid', 'Quantity':'qty'},inplace=True)

print(df.columns)

Index(['TransactionID', 'TransactionDate', 'uid', 'ProductID', 'qty'], dtype='object')

In [8]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
uid                1
ProductID          0
qty                0
dtype: int64

In [9]:
df['uid'].fillna(df['uid'].mean(), inplace=True)

C:\Users\Mr_Perfect\AppData\Local\Temp\ipykernel_9744\1565187845.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['uid'].fillna(df['uid'].mean(), inplace=True)

In [10]:
print(df['uid'].dtype)

float64

In [11]:
df['uid'] = df['uid'].fillna(df['uid'].mean())

In [12]:
print(df['uid'])

0    7.000000
1    3.000000
2    3.000000
3    1.000000
4    2.000000
5    2.000000
6    3.000000
7    3.444444
8    7.000000
9    3.000000
Name: uid, dtype: float64

In [13]:
print(df.describe())

       TransactionID        uid  ProductID        qty
count       10.00000  10.000000  10.000000  10.000000
mean         5.50000   3.444444   3.400000   2.400000
std          3.02765   2.006163   1.074968   1.712698
min          1.00000   1.000000   2.000000   1.000000
25%          3.25000   2.250000   2.250000   1.000000
50%          5.50000   3.000000   4.000000   2.000000
75%          7.75000   3.333333   4.000000   3.000000
max         10.00000   7.000000   5.000000   6.000000

In [14]:
#print no of columns \

print(len(df.columns))

5

In [15]:
###. Print Numbers of Records

print(len(df))

10

In [16]:
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
uid                       3.0
ProductID                   4
qty                         1
Name: 1, dtype: object

In [39]:
#Get all the row names

a=df.index

print(a)

Index([6, 4, 2, 1, 0, 8, 7, 3, 9, 5], dtype='int64')

In [18]:
###5. Get the column names

print(df.columns)

Index(['TransactionID', 'TransactionDate', 'uid', 'ProductID', 'qty'], dtype='object')

In [19]:
#6. View top 10 Records

print(df.head(10))
print("\n")
print("\n")
#7.Change the name of column “ Quantity” to “Quant”

df.rename(columns={'Quantity':'Quant'}, inplace=True)

print(df.columns)
#8.Change the name of columns ProductID and UserID

df.rename(columns={'ProductID':'PID', 'UserID':'UID'}, inplace=True)

print(df.columns)

   TransactionID TransactionDate       uid  ProductID  qty
0              1      2010-08-21  7.000000          2    1
1              2      2011-05-26  3.000000          4    1
2              3      2011-06-16  3.000000          3    1
3              4      2012-08-26  1.000000          2    3
4              5      2013-06-06  2.000000          4    1
5              6      2013-12-23  2.000000          5    6
6              7      2013-12-30  3.000000          4    1
7              8      2014-04-24  3.444444          2    3
8              9      2015-04-24  7.000000          4    3
9             10      2016-05-08  3.000000          4    4




Index(['TransactionID', 'TransactionDate', 'uid', 'ProductID', 'qty'], dtype='object')
Index(['TransactionID', 'TransactionDate', 'uid', 'PID', 'qty'], dtype='object')

In [20]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True

df.sort_values(by='TransactionID', ascending=False, inplace=True)

print(df.head(10))

print("\n")

   TransactionID TransactionDate       uid  PID  qty
9             10      2016-05-08  3.000000    4    4
8              9      2015-04-24  7.000000    4    3
7              8      2014-04-24  3.444444    2    3
6              7      2013-12-30  3.000000    4    1
5              6      2013-12-23  2.000000    5    6
4              5      2013-06-06  2.000000    4    1
3              4      2012-08-26  1.000000    2    3
2              3      2011-06-16  3.000000    3    1
1              2      2011-05-26  3.000000    4    1
0              1      2010-08-21  7.000000    2    1

In [21]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending

df.sort_values(by=['qty', 'TransactionDate'], ascending=[True, False], inplace=True)

print(df.head(10))

   TransactionID TransactionDate       uid  PID  qty
6              7      2013-12-30  3.000000    4    1
4              5      2013-06-06  2.000000    4    1
2              3      2011-06-16  3.000000    3    1
1              2      2011-05-26  3.000000    4    1
0              1      2010-08-21  7.000000    2    1
8              9      2015-04-24  7.000000    4    3
7              8      2014-04-24  3.444444    2    3
3              4      2012-08-26  1.000000    2    3
9             10      2016-05-08  3.000000    4    4
5              6      2013-12-23  2.000000    5    6

In [22]:
#11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID

df = df[['PID', 'qty', 'TransactionDate', 'TransactionID', 'uid']]

print(df.columns)

print("\n")

Index(['PID', 'qty', 'TransactionDate', 'TransactionID', 'uid'], dtype='object')

In [41]:


#13. Extracting arrays from a Data Frame. Get the 2nd column

print(df.iloc[:,1])

print("\n")

#14. Get the ProductID Array

print(df['PID'].values)

print("\n")

6    4
4    4
2    3
1    4
0    2
8    4
7    2
3    2
9    4
5    5
Name: PID, dtype: int64


[4 4 3 4 2 4 2 2 4 5]

In [24]:
#12. Make UserID the first column of transactions

df = df[['uid'] + [col for col in df.columns if col!= 'uid']]

print(df.columns)

print("\n")

Index(['uid', 'PID', 'qty', 'TransactionDate', 'TransactionID'], dtype='object')

In [25]:
#16.Row subsetting, subset rows 1,3 and 6

print(df.iloc[[1,3,6]])

print("\n")

        uid  PID  qty TransactionDate  TransactionID
4  2.000000    4    1      2013-06-06              5
1  3.000000    4    1      2011-05-26              2
7  3.444444    2    3      2014-04-24              8

In [26]:
#`17print all rows except 1,3,6

print(df.drop([1, 3, 6]))

print("\n")

        uid  PID  qty TransactionDate  TransactionID
4  2.000000    4    1      2013-06-06              5
2  3.000000    3    1      2011-06-16              3
0  7.000000    2    1      2010-08-21              1
8  7.000000    4    3      2015-04-24              9
7  3.444444    2    3      2014-04-24              8
9  3.000000    4    4      2016-05-08             10
5  2.000000    5    6      2013-12-23              6

In [27]:
#Subset the first three rows

print(df.iloc[:3])

print("\n")

   uid  PID  qty TransactionDate  TransactionID
6  3.0    4    1      2013-12-30              7
4  2.0    4    1      2013-06-06              5
2  3.0    3    1      2011-06-16              3

In [28]:
# 19 Subset the last 2 rows

print(df.iloc[-2:])

print("\n")

   uid  PID  qty TransactionDate  TransactionID
9  3.0    4    4      2016-05-08             10
5  2.0    5    6      2013-12-23              6

In [29]:
#20. Subset rows excluding the last 2 rows

print(df[:-2])

print("\n")

        uid  PID  qty TransactionDate  TransactionID
6  3.000000    4    1      2013-12-30              7
4  2.000000    4    1      2013-06-06              5
2  3.000000    3    1      2011-06-16              3
1  3.000000    4    1      2011-05-26              2
0  7.000000    2    1      2010-08-21              1
8  7.000000    4    3      2015-04-24              9
7  3.444444    2    3      2014-04-24              8
3  1.000000    2    3      2012-08-26              4

In [30]:

#21. Subset rows excluding the first 3 rows

print(df[3:])

print("\n")

        uid  PID  qty TransactionDate  TransactionID
1  3.000000    4    1      2011-05-26              2
0  7.000000    2    1      2010-08-21              1
8  7.000000    4    3      2015-04-24              9
7  3.444444    2    3      2014-04-24              8
3  1.000000    2    3      2012-08-26              4
9  3.000000    4    4      2016-05-08             10
5  2.000000    5    6      2013-12-23              6

In [31]:
#22 Subset rows where Quantity>1

print(df[df['qty']>1])

print("\n")

        uid  PID  qty TransactionDate  TransactionID
8  7.000000    4    3      2015-04-24              9
7  3.444444    2    3      2014-04-24              8
3  1.000000    2    3      2012-08-26              4
9  3.000000    4    4      2016-05-08             10
5  2.000000    5    6      2013-12-23              6

In [32]:
print(df[df['uid']==2])

print("\n")

   uid  PID  qty TransactionDate  TransactionID
4  2.0    4    1      2013-06-06              5
5  2.0    5    6      2013-12-23              6

In [33]:
# 24. Subset rows where Quantity>1 and UserID=2

print(df[(df['qty']>1) & (df['uid']==2)])

print("\n")

   uid  PID  qty TransactionDate  TransactionID
5  2.0    5    6      2013-12-23              6

In [34]:
#25. Subset rows where Quantity + UserID is >3

print(df[(df['qty'] + df['uid'])>3])

print("\n")

        uid  PID  qty TransactionDate  TransactionID
6  3.000000    4    1      2013-12-30              7
2  3.000000    3    1      2011-06-16              3
1  3.000000    4    1      2011-05-26              2
0  7.000000    2    1      2010-08-21              1
8  7.000000    4    3      2015-04-24              9
7  3.444444    2    3      2014-04-24              8
3  1.000000    2    3      2012-08-26              4
9  3.000000    4    4      2016-05-08             10
5  2.000000    5    6      2013-12-23              6

In [35]:
# 26. Subset rows where an external array, foo, is True

foo = [False, True, True, False, False , False, False, False,False,False]

print(df[foo])

print("\n")

   uid  PID  qty TransactionDate  TransactionID
4  2.0    4    1      2013-06-06              5
2  3.0    3    1      2011-06-16              3

In [36]:
#27  Subset rows where an external array, bar, is positive

bar = [1, -2, -3,4,5,6,7,8,9,10]
subset = df.iloc[bar]
print(subset)

IndexError: positional indexers are out-of-bounds

In [ ]:
#28. Subset rows where foo is TRUE or bar is negative

print(df[(foo) | (bar<0)])

print("\n")

TypeError: '<' not supported between instances of 'list' and 'int'